.header {
  width: 100%;
  background: #8f60ce;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}
